<header class="bg-indigo-600">
  <nav class="mx-auto max-w-7xl px-6 lg:px-8" aria-label="Top">
    <div
      class="flex w-full items-center justify-between border-b border-indigo-500 py-6 lg:border-none"
    >
      <div class="flex items-center">
        <div class="ml-10 block space-x-8">
          <a
            routerLink="/"
            class="text-base font-medium text-white hover:text-indigo-50"
          >
            Angular Application
          </a>
          <a
            href="/remix"
            class="text-base font-medium text-white hover:text-indigo-50"
          >
            Remix Application
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
